{% extends 'blog/base.html' %}

{% block content %}

    <!-- Categories ki list -->
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'post_list_by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Posts ki list -->
    <div class="posts">
        {% for post in posts %}
            <article class="post">
                <time class="date">
                    {{ post.published_date }}
                </time>
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </div>

{% endblock %}
